{{#if divvy.settlements.length}}
  <div class="divvy-summary divvy-sidebar">
    <div class="section-title">
      Divvy Summary
    </div>


    <div class="settlements">
      {{#each divvy.settlements as |settlement|}}
        <div class="settlement">
          {{#if (eq settlement.payer.id session.currentUser.id)}}
            You owe
          {{else}}
            {{settlement.payer.username}} owes
          {{/if}}
          {{#if (eq settlement.payee.id session.currentUser.id)}}
             you
          {{else}}
            {{settlement.payee.username}}
          {{/if}}
          <span class="settlement-amount">${{settlement.amount}}</span>
        </div>
      {{/each}}
    </div>

    <div class="">
      {{#unless divvy.isSettled}}
        {{#if (eq divvy.organizer.id session.currentUser.id)}}
          {{confirm-button
            onConfirm=(action "settleDivvy")
            buttonText="Settle divvy"
            confirmText="Are you sure you want to settle this divvy?"
          }}
        {{/if}}
      {{/unless}}
    </div>
  </div>
{{/if}}

<div class={{if divvy.settlements.length  "divvy-container" "divvy-container-full-width"}}>
  <div class="divvy-heading border-top">
    <div id="divvy-title">
      {{divvy.title}}
    </div>

    <div class="row divvy-details full-width border-top no-margin">
      <div class="divvy-members">
        <span id="divvy-members-title" class="bold">Divvy members:</span>
        <div class="divvy-member">
          You
        </div>
        {{#each divvy.usersWithoutOrganizer as |user|}}
          <div class="divvy-member">{{user.username}}</div>
        {{/each}}
      </div>
      {{#unless divvy.isSettled}}
        <div class="pull-right inline-block">
          <div class="form-group no-margin inline-block">
            {{input type="text" class="form-control" id='add-user' value=addUser size="20" placeholder="Search for users"}}
          </div>
          <div {{action "addUserToDivvy"}} class="outline-button action-button inline-block">Add user</div>
        </div>
      {{/unless}}
    </div>
  </div>


  <div class="divvy-content">
    <!-- PAYMENTS -->
    <div class="row">
      <div class="col-md-12 payments-content">
        {{#if divvy.isSettled}}
          <div class="divvy-header">
            This divvy has been settled and is no longer active
          </div>
        {{else}}
          {{new-payment-form divvy=divvy flash='flashMessage'}}
        {{/if}}

        {{#if divvy.payments.length}}
          <div class="payments">
            {{#each divvy.payments as |payment|}}
              {{list-payment payment=payment flashMessage='flashMessage' divvy=divvy}}
            {{/each}}
          </div>
        {{else}}
          <div class="warning-block">
            There are currently no payments for this divvy
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div> <!-- end divvy container -->

{{!-- decide where to go --}}
{{#if (eq divvy.organizer.id session.currentUser.id)}}
  {{confirm-button
    onConfirm=(action "deleteDivvy")
    buttonText="Delete divvy"
    confirmText="Are you sure you want to delete this divvy?"
  }}
{{/if}}
