  <div class={{if model.settlements.length  "divvy-container" "divvy-container-full-width"}}>
		<div class="divvy-heading border-top">
			<div id="divvy-title">
				{{model.title}}
			</div>

			<div class="row divvy-details full-width border-top no-margin">
				<div class="divvy-members">
					<span id="divvy-members-title" class="bold">Divvy members:</span>
					<div class="divvy-member">
						You
					</div>
					{{#each model.usersWithoutOrganizer as |user|}}
						<div class="divvy-member">{{user.username}}</div>
					{{/each}}
					</div>
				<div class="pull-right inline-block">
					<div class="form-group no-margin inline-block">
						{{input type="text" class="form-control" id='add-user' value=addUser size="20" placeholder="Search for users"}}
					</div>
					<div {{action "addUserToTrip"}} class="outline-button action-button inline-block">Add user</div>
				</div>
			</div>
		</div>


		<div class="divvy-content">
			<!-- PAYMENTS -->
			<div class="row">
				<div class="col-md-12 payments-content">

					{{new-payment-form divvy=model flash='flashMessage'}}

          {{#if model.payments}}
            <div class="payments">
              {{#each model.payments as |payment|}}
                {{list-payment payment=payment delete=removePayment edit=updatePayment}}
              {{/each}}
            </div>
          {{else}}
            <div class="warning-block">
              There are currently no payments for this divvy
            </div>
          {{/if}}
				</div>
			</div>
		</div>
	</div> <!-- end divvy container -->
